<!-- HeaderComponent to be displayed as part of AppComponent -->
<app-header></app-header>

<!-- Label to display any error messages -->
<label class="error-message">{{ errMessage }}</label>

<!-- To add notes -->

<mat-expansion-panel class="notesSection">
    <mat-expansion-panel-header>
      <mat-panel-title>Take a note</mat-panel-title>
    </mat-expansion-panel-header>
    <div class="notesInput">
      <!-- Forms to keyin the data with two way data binding -->
      <mat-form-field>
        <input matInput [(ngModel)] = "note.title" type="text" placeholder="Note Title" name="title">
      </mat-form-field>
      <mat-form-field>
        <textarea matInput [(ngModel)] ="note.text" placeholder="Note Text" name="text"></textarea>
      </mat-form-field>
    </div>
    <div class="submitButton">
      <button mat-raised-button color="primary" matButton (click) = "takeNote()">Done</button>
    </div>
  </mat-expansion-panel>

<!-- Load and display the collection of notes from server as Material Cards with card title set to note title and card content set to note text  -->

<div class="noteDisplaySection">
    <mat-card class="noteCard" *ngFor = "let note of notes">
      <mat-card-title class="cardTitle">{{note.title}}</mat-card-title>
      <mat-card-content>{{note.text}}</mat-card-content>  
    </mat-card>
  </div>



